<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
</head>
<body>
    <h2>
        Here's the recent 500 commits information, you can download :
        <a href="/Users/pareshagrawal/Desktop/assessment/info.json" download="commits_info">
            <button type="button">Download</button>
        </a>

        <br><br>
        You got the file for top 10 contributors for this organisation, hit me :
        <a href="/Users/pareshagrawal/Desktop/assessment/top10_contributors.csv" download="top10_contributors">
            <button type="button">Download</button>
        </a>
        
        <br><br>
        Finally the file for all repo names starred by those contributors, Click here :
        <a href="/Users/pareshagrawal/Desktop/assessment/starred.json" download="starred_repos">
            <button type="button">Download</button>
        </a>
        
    </h2>
</body>
</html>