<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <style>
        body {
          background-color: #cccccc;
        }
    </style>
</head>
<body>
    <h1 style="color:black;text-align:center;">Welcome to the assessment of 2022.</h1>
    <br><br>
    <p>
        <h2>Use your Github URL to:
            <br>- fetch recent 500 commits info
            <br>- have top 10 contributors for the particular organisation
            <br>- store all repos name starred by those top 10 contributors
        </h2>
    </p>
    <br><br>
    <h2 style="color:red;">Please add "/validate" to your URL.</h2>
    
</body>
</html>